# Compiled class file
*.class
*.log

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup

# STS (Spring Tool Suite)
.metadata/
.recommenders/
.settings/
.project
.classpath
.springBeans
.sts4-cache/

# IntelliJ (por si alguien más usa el proyecto)
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Windows
Thumbs.db

# macOS
.DS_Store

# Spring Boot
.env
